$height: 100vh;
$width: 100vw;
$common-background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
$common-border: 1px solid white;
$tablet: "(min-width:768px)";
$smallDesktop:"(min-width:1024px)";
$mediumDesktop: "(min-width:1300px)";
$desktop:"(min-width:1500px)";
$white:white;
$black:black;
$overflow:hidden;
$fontSize1:0.7em;
