.date{
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    grid-row:1;
    border:1px solid white;
    background-image:url('../../../images/calendar-day.png');
    background-repeat:no-repeat;
    background-size:53%;
    background-position:center;
    text-align:center;
}

.date h2{
    font-size:2.2em;
    margin-top:40px;
}

.date h2 span{
    font-size:0.5em;
    padding-top:8px;
}