.oneSeat {
    background-repeat: no-repeat;
    background-size: 2.2em 2.2em;
    width: 2.6em;
    height: 2.6em;
    display: inline-block;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.oneSeat:hover {
    background-size: 2.6em 2.6em;
}

.columns{
    width:2.6em;
    height:2.6em;
    display:flex;
    flex-wrap:wrap;

}

p{
    text-align:left;
    width:100%;
    color:white;
    font-weight:bold;
    font-size:1.4em;
    padding-left:7px;
}