.counterSeats{
    height:calc(100vh - 60px);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.2rem;
    /*margin:0 auto;*/
    color:white;
    border:1px solid white;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
    /*background:linear-gradient(rgba(255, 255, 255, 0.5),rgba(0,0,0,0.4));*/
}

.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:flex-start;
    height:75%;
}

.summary,table,input{
    flex-basis:100%;
    text-align:left;

}

.summary{
    font-size:1.2em;
    height:1.2em;
}

td,tr{
    width:calc(20%);
    height:40px;
    background-repeat:no-repeat;
    background-size:40% 70%;
    background-position: center;
    border:1px solid white;
    text-align:center;
    font-size:0.8em;

    /*background-color:white;*/
    /*color:black;*/
}

.name{
    /*width:380px;*/
    height:70px;
    flex-basis:100%;
    /*margin-bottom:30px;*/
    /*text-align:left;*/
    /*padding: 5px 5px;*/
    font-size:1.2rem;

}

.name:focus{
    border: 3px solid #555;
}

.buttonSend{
    /*border-radius:50%;*/
    flex-basis:50%;
    height:50px;
    background-color:blue;
    color:white;
    font-size:1em;
    text-decoration: none;
    cursor: pointer;
    text-align:center;
    display:inline-block;
    margin-top:20px;
    border:1px solid blue;
}

.buttonSend:hover{
    transition-duration: 0.4s;
    background-color:darkblue;
    border:1px solid darkblue;
}

.summary{
    /*font-size: 2rem;*/
    /*text-align:center;*/
    /*background-color:rgba(255,255,255,0.8);*/
    height:25%;
    padding:15px;
    line-height:2.5rem;
    background-color:rgba(0,0,0,0.3);
    /*color: black;*/
}

/*.numberSeats{*/
    /*padding:0;*/
    /*font-size: 1.5rem;*/
    /*text-align:center;*/
/*}*/

.table{
    width:100%;
    padding:15px;
    font-size:1.8rem;
    height:50%;
    display:block;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.05));

}


.paragraf{
    padding-bottom:15px;
    padidng-top:15px;
    font-size:1.5rem;
    color:white;
    font-weight:bold;
    flex-basis:100%;
    /*font-weight:bold;*/
    /*background-color:white;*/
    /*color:black;*/
}

.paragrafRed{
    flex-basis:100%;
    color:red;
    font-size:1.2rem;
    font-weight:bold;
}

form{
    width:100%;
    padding:20px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.sum{
    margin-top:15px;
    width:50%;
    float:right;
    padding-left:30px;
    background-color:rgba(255,255,255,0.1);
    font-size:0.8em;
}

.acceptedOrder{
    color:white;
    font-size:3rem;
    text-align:center;
    /*align-self:flex-start;*/
}